<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/jquery.fullPage.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/javascripts/libs/jquery-2.2.4.min.js"></script>
    <script src="/javascripts/libs/jquery.fullPage.min.js"></script>
    <script src="/javascripts/libs/bootstrap.min.js"></script>
    <script src="/javascripts/libs/vue.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <header id="header">
      <ul id="menu" class="nav_list">
        <li><a href="#1stPage">首页</a></li>
        <li><a href="#2ndPage">个人资料</a></li>
        <li><a href="#3rdPage">技能树</a></li>
        <li><a href="#4thPage">实习经历</a></li>
        <li><a href="#5thPage">项目经验</a></li>
      </ul>
    </header>
    <div id="fullpage">
      <div data-anchor="1stPage" class="section block block_1">
        <div class="home">封面</div>
      </div>
      <div data-anchor="2ndPage" class="section block block_2"></div>
      <div data-anchor="3rdPage" class="section block block_3">
        <div class="container">
          <div v-for="val in skill" class="skill">
            <p>{{val.name}}</p>
            <div class="progress progress-skill">
              <div role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" v-bind:style="{'width': val.ability,'background-color': val.color }" class="progress-bar progress-bar-striped active">{{val.ability}}</div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="4thPage" class="section block block_4">4th</div>
      <div data-anchor="5thPage" class="section block block_5">5th</div>
    </div>
  </body>
</html>