extends layout

block content
  header#header
    ul.nav_list#menu
      li
        a(href='#1stPage') 首页
      li
        a(href='#2ndPage') 个人资料
      li
        a(href='#3rdPage') 技能树
      li
        a(href='#4thPage') 实习经历
      li
        a(href='#5thPage') 项目经验

  #fullpage
    .section.block.block_1(data-anchor="1stPage")
      .home 封面
    .section.block.block_2(data-anchor="2ndPage")

    .section.block.block_3(data-anchor="3rdPage")
      .container
        .skill(v-for="val in skill")
          p {{val.name}}
          .progress.progress-skill
            .progress-bar.progress-bar-striped.active(role='progressbar' aria-valuenow='45' aria-valuemin='0' aria-valuemax='100' v-bind:style="{'width': val.ability,'background-color': val.color }") {{val.ability}}
    .section.block.block_4(data-anchor="4thPage") 4th
    .section.block.block_5(data-anchor="5thPage") 5th
