doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/jquery.fullPage.css')
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    script(src="/javascripts/libs/jquery-2.2.4.min.js")
    script(src='/javascripts/libs/bootstrap.min.js')
    script(src='/javascripts/libs/vue.min.js')
  body
    block content
